---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Services</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:love" title="Love and Relationship Issues">
          
        </Feature>
        <Feature icon="mdi:education" title="Education and Academic Success">
          
        </Feature>
        <Feature icon="mdi:hospital"  title="Health and Well-being">
          
        </Feature>
        <Feature icon="mdi:eye"  title="Drishti (Evil Eye) Removal">
          
        </Feature>
        <Feature icon="mdi:money"  title="Financial Stability">
          
        </Feature>
        <Feature icon="mdi:business"  title="Career and Business Success">
          
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/chd.png" reverseImg={true}>
    <a href="/Vashikaran-specialist-chandigarh">
      <h2>Vashikaran Specialist Chandigarh</h2>
    </a>
      <p class="text-2xl">
        Greetings seekers of positive change! If you find yourself navigating through the twists and turns of life, seeking solutions to love, career, or personal challenges, you’ve arrived at the right place. I am your dedicated Vashikaran specialist based in Chandigarh, extending my expertise to individuals across India through online services.
      </p>
  </ContentMedia>
  <ContentMedia imgSrc="/mohini.jpg">
    <a href="/mohini-vashikaran">
    <h2>Mohini Vashikaran</h2>
    <p class="text-2xl">
    </a>
    Mohini Vashikaran is a mystical practice rooted in Hindu tradition, focusing on love and attraction. It involves chanting specific mantras to tap into cosmic energies, influencing thoughts and emotions. Learn about Mohini Vashikaran’s origins, chanting techniques, and implementation for a deeper understanding of this ancient art. Explore the spiritual dimensions of love and attraction with Mohini Vashikaran.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/love.jpg" reverseImg={true}>
    <a href="/vashikaran-for-love">
      <h2>Vashikaran for Love</h2>
    </a>
      <p class="text-2xl">
        In the intricate tapestry of love, the ancient practice of Vashikaran emerges as a potent tool, promising to unravel the mysteries of deepening connections and fostering enduring affection. In this comprehensive guide, we'll delve into the profound world of Vashikaran for love, exploring its origins, techniques, ethical considerations, and the transformative potential it holds in matters of the heart.
      </p>
  </ContentMedia>
  <ContentMedia imgSrc="/laksan.jpg">
    <a href="/vashikaran-lakshan">
    <h2>Vashikaran ke Lakshan</h2>
    <p class="text-2xl">
    </a>
    Vashikaran ek prachin tantrik kala hai jo bhale hi kuch log ise apne labh ke liye istemal karte hain, lekin isme kuch log galat istemal bhi karte hain. Yeh ek tantra-mantra vidya hai jise kuch log prem, vyapar, ya samasyaon ka samadhan pane ke liye istemal karte hain.
  </p>
  </ContentMedia>
  <ContentMedia imgSrc="/kamdev.jpg" reverseImg={true}>
    <a href="/kamdev-vashikaran-mantra" >
    <h2>Kamdev Vashikaran Mantra</h2>
    <p class="text-2xl">
    </a>
    The Kamdev Vashikaran Mantra is believed to be associated with invoking the energy of Kamdev, the Hindu god of love, desire, and attraction. It is often used with the intention of attracting someone romantically or enhancing one’s love life
  </p>
  </ContentMedia>
</DefaultLayout>
