---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Services</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:love" title="Vashikaran for Love">
          Lsn
        </Feature>
        <Feature icon="mdi:heart" title="Vashikaran for Love Back">
          Lsn
        </Feature>
        <Feature icon="mdi:car"  title="Vashikaran Bussiness">
          Lsn
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/mohini.jpg">
    <a href="/mohini-vashikaran">
    <h2>Mohini Vashikaran</h2>
    <p class="text-2xl">
    </a>
    Mohini Vashikaran is a mystical practice rooted in Hindu tradition, focusing on love and attraction. It involves chanting specific mantras to tap into cosmic energies, influencing thoughts and emotions. Learn about Mohini Vashikaran’s origins, chanting techniques, and implementation for a deeper understanding of this ancient art. Explore the spiritual dimensions of love and attraction with Mohini Vashikaran.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/love.jpg" reverseImg={true}>
    <a href="/vashikaran-for-love">
      <h2>Vashikaran for Love</h2>
    </a>
      <p class="text-2xl">
        In the intricate tapestry of love, the ancient practice of Vashikaran emerges as a potent tool, promising to unravel the mysteries of deepening connections and fostering enduring affection. In this comprehensive guide, we'll delve into the profound world of Vashikaran for love, exploring its origins, techniques, ethical considerations, and the transformative potential it holds in matters of the heart.
      </p>
  </ContentMedia>
  <ContentMedia imgSrc="/5.jpg">
    <a href="/mohini-vashikaran">
    <h2>Mohini Vashikaran</h2>
    <p class="text-2xl">
    </a>
    Mohini Vashikaran is a mystical practice rooted in Hindu tradition, focusing on love and attraction. It involves chanting specific mantras to tap into cosmic energies, influencing thoughts and emotions. Learn about Mohini Vashikaran’s origins, chanting techniques, and implementation for a deeper understanding of this ancient art. Explore the spiritual dimensions of love and attraction with Mohini Vashikaran.
    </p>
  </ContentMedia>
</DefaultLayout>
