---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Services</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Vashikrn for Love">
          Lsn
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Vashikrn for Love Back">
          Lsn
        </Feature>
        <Feature icon="mdi:looks" title="Vashikrn Bussiness">
          Lsn
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/Profile.jpg">
    <a href="/siddhi">
    <h2>How to Enhance Your Mantra Practice - Achieving Siddhi</h2>
    <p class="text-2xl">
    </a>
      Now that you have learned the mantras, I want to add some additional information here that will
really up the effectiveness of these mantras and any mantra practice for that matter. As you saw,
most of the mantras can be recited a few times and some, many more times. When doing so, you
compound the energy upon itself and then it produces results.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/Profile.jpg" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Lsn
    </p>
  </ContentMedia>
</DefaultLayout>
